$font-color: white;

footer {
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  padding: 2em 35% 1em 35%;
  width: 100%;
  color: $font-color;
  letter-spacing: 0.4px;
}

.link {
  cursor: pointer;
}

footer a {
  color: $font-color;
}

@media screen and (max-width: 1000px) {
  footer {
    font-size: 16px;
    padding: 2em 25% 1em 25%;
  }
}

@media screen and (max-width: 800px) {
  footer {
    font-size: 14px;
    padding: 2em 20% 1em 20%;
  }
}
