$font-color: white;

footer {
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  padding: 1em 35%;
  width: 100%;
  color: $font-color;
  letter-spacing: 0.4px;
}

footer a {
  color: $font-color;
}
