<div id="login-page-wrapper">
  <section id="login-form-wrapper" class="border-glow">
    <h2>Login</h2>
    <form id="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <input
        type="text"
        id="email"
        placeholder="Email"
        formControlName="email"
        [class.invalid]="isValidField('email')"
      />
      <input
        type="password"
        id="password"
        placeholder="Password"
        formControlName="password"
        [class.invalid]="isValidField('password')"
      />
      <p id="error-msg" *ngIf="errorMessage">{{ errorMessage }}</p>
      <app-button
        buttonSize="large"
        buttonText="Login"
        id="login-button"
        [isDisabled]="isButtonDisabled"
      />
    </form>
    <p id="redirect-message">
      Not registered?
      <a routerLink="/user/register">Create an account</a>
    </p>
  </section>
</div>
