$bee-yellow: #e9ab17;

button {
  // background: linear-gradient(
  //   to bottom,
  //   rgb(203, 210, 255) 0%,
  //   rgb(91, 182, 255) 3%,
  //   rgb(91, 112, 255) 15%
  // );

  background: linear-gradient(
    to bottom,
    rgb(203, 210, 255) 0%,
    #ecc76f 3%,
    $bee-yellow 15%
  );

  box-shadow: inset 0 -1em 0.5em rgba(0, 0, 0, 0.3);
  color: #fff;
  border: none;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
  transition: filter 0.3s;
  text-align: center;
}

.enabled {
  &:hover {
    filter: brightness(0.8);
  }
}

.disabled {
  background: gray;
  filter: brightness(0.6);
  cursor: not-allowed;
}
