$font-color: white;
$dark-bg: rgba(18, 18, 18, 1);
$light-bg: rgba(30, 30, 30, 1);
$border-radius: 5px;

#top-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  gap: 1em;
}

#search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  width: 17vw;

  #searchfield {
    width: 100%;
    height: 2rem;
    border-radius: 5px;
    background-color: $light-bg;
    color: $font-color;
    border-radius: $border-radius;
    font-size: 16px;
    height: 2em;
  }

  .fa-magnifying-glass {
    margin: 0;
    padding: 0;
    color: $font-color;
    cursor: pointer;
  }
}

select {
  font-size: 16px;
  background-color: $light-bg;
  color: $font-color;
  border-radius: $border-radius;
  height: 2em;
  width: 17vw;
  cursor: pointer;
}

.section {
  color: $font-color;
  width: 70%;
  margin: auto;
  background-color: $dark-bg;

  h3 {
    font-size: 30px;
    letter-spacing: 0.5px;
    margin: auto;
    text-align: center;
    padding: 1em;
  }
}

#hottest {
  margin-bottom: 1em;
}

#hottestPostsContainer {
  display: flex;
  gap: 1em;
  padding: 0 1em 1em 1em;
  justify-content: space-around;
  flex-wrap: wrap;
}

#latestPostsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  grid-template-rows: auto;
  place-items: center;
  gap: 1em;
  padding: 0 1em 1em 1em;
}

@media screen and (min-width: 1138px) {
  #latestPostsContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1138px) {
  #latestPostsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 773px) {
  #latestPostsContainer {
    grid-template-columns: 1fr;
  }
}
