<div id="feed-page-wrapper">
  <section id="top-menu">
    <select id="dropdown" name="categories">
      <option value="all">All</option>
      <option value="artificial-intelligence">Artificial Intelligence</option>
      <option value="blockchain">Blockchain</option>
      <option value="development">Development</option>
      <option value="other">Other</option>
    </select>

    <div id="search-container">
      <input
        type="search"
        name="search"
        id="searchfield"
        placeholder="Search..."
        class="interactable"
      />
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
  </section>

  <section id="hottest" class="section border-glow">
    <h3>🔥Hottest</h3>

    <app-loader *ngIf="isLoadingHottest" />

    <div class="no-posts" *ngIf="!isLoadingHottest && hottestPosts.length < 1">
      Sorry, no liked posts yet. Quick, be the first!
    </div>

    <div id="hottestPostsContainer" *ngIf="!isLoadingHottest">
      <app-post-card *ngFor="let post of hottestPosts" [post]="post" />
    </div>
  </section>

  <section id="latest" class="section border-glow">
    <h3>🚀Latest</h3>

    <app-loader *ngIf="isLoadingLatest" />

    <div class="no-posts" *ngIf="!isLoadingLatest && latestPosts.length < 1">
      Sorry, no posts yet. Quick, be the first!
    </div>

    <div id="latestPostsContainer" *ngIf="!isLoadingLatest">
      <app-post-card *ngFor="let post of latestPosts" [post]="post" />
    </div>
  </section>
</div>
