<div id="add-comment" class="comment border-glow">
  <div class="comment-top-container">
    <div class="comment-top-left">
      <i class="fa-regular fa-user"></i>
      <p class="comment-username">{{ username || "Guest" }}</p>
    </div>
  </div>
  <textarea
    type="comment"
    name="comment"
    id="add-comment-text"
    placeholder="Add a comment..."
    [formControl]="commentTextControl"
    [class.invalid]="commentTextControl.invalid && commentTextControl.dirty"
    (keyup.enter)="onAdd()"
  ></textarea>
  <p id="error-msg" *ngIf="errorMessage">{{ errorMessage }}</p>
  <!-- <app-button buttonSize="small" buttonText="Comment" (click)="onAdd()" /> -->
  <img
    [title]="isLogged ? 'Comment' : 'Login required'"
    src="./assets/images/icon-comment.svg"
    alt="comment"
    id="comment-button"
    [class.disabled]="!isLogged"
    [class.enabled]="isLogged"
    (click)="onAdd()"
  />
</div>
