$font-color: white;

footer {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  padding: 2em 35% 1em 35%;
  width: 100%;
  color: $font-color;
  letter-spacing: 0.4px;
}

footer a {
  color: $font-color;
}
