$font-color: white;
$dark-bg: rgba(18, 18, 18, 1);
$light-bg: rgba(30, 30, 30, 1);
$border-radius: 5px;
$bee-yellow: #e9ab17;

#register-form-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 4vh;
  width: 40%;
  margin: auto;
  padding: 30px 0 30px 0;
  color: $font-color;
  background-color: $dark-bg;

  h2 {
    font-size: 32px;
  }
}

#register-form {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 0.75em;

  input {
    font-size: 18px;
    align-self: center;
    width: 20vw;
    height: 2em;
    border-radius: $border-radius;
    margin: auto;
    color: $font-color;
    background-color: $light-bg;
  }
}

#redirect-message a {
  color: $bee-yellow;
}

#error-msg {
  color: red;
  font-size: 12px;
  text-align: center;
}
