$font-color: white;
$dark-bg: rgba(18, 18, 18, 1);
$light-bg: rgba(30, 30, 30, 1);
$border-radius: 10px;
$bee-yellow: #e9ab17;

#home-page-wrapper {
  padding-top: 5em;
}

.home-msg {
  grid-column: span 2;
  width: 50%;
  padding: 1em;
  margin: auto;
  text-align: center;
  color: $font-color;

  h1 {
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.3;
    font-size: 36px;
    margin-bottom: 0.5rem;
    font-weight: 900;
  }

  p {
    line-height: 1.5;
    font-size: 18px;
  }

  span {
    color: $bee-yellow;
  }
}

#grid-wrapper {
  color: $font-color;
  width: 70%;
  margin: auto;
  margin-top: 2em;
  display: flex;
  gap: 1em;

  div {
    background-color: $dark-bg;

    h3 {
      font-size: 30px;
      letter-spacing: 0.5px;
      margin: auto;
      text-align: center;
      padding: 1em;
    }
  }
}

.category {
  padding: 1em;
  margin: 0 1em 1em 1em;
  background-color: $light-bg;
  display: flex;
  align-items: center;

  img {
    width: 14em;
    height: 10em;
    border-radius: $border-radius;
    object-fit: cover;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    width: 70%;
  }

  h4 {
    font-size: 22px;
  }
}

#contributors-wrapper {
  height: 100%;
  padding-bottom: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  app-loader {
    margin: 2em 0;
  }

  #contributors {
    display: flex;
    flex-direction: column;

    p {
      padding: 1em 0.5em;
      margin: 0 1em 1em 1em;
      background-color: $light-bg;
    }
  }
}

#no-contributors {
  font-size: 22px;
  width: 80%;
  text-align: center;
  padding: 2em 0;
}

@media screen and (max-width: 1000px) {
  .category img {
    width: 10em;
    height: 8em;
  }

  .bentogrid {
    font-size: 14px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 20px;
  }
}

@media screen and (max-width: 800px) {
  .category img {
    width: 8em;
    height: 6em;
  }

  .bentogrid {
    font-size: 12px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 18px;
  }
}
