<section id="comments-container">
  <div class="comment border-glow">
    <div class="comment-top-container">
      <div class="comment-top-left">
        <i class="fa-regular fa-user"></i>
        <p class="comment-username">Username</p>
      </div>
      <div class="comment-top-right">
        <p class="comment-time">Comment Date</p>
        <!-- If owner of comment -->
        <!-- id="keepIdforDelete function" -->
        <app-button buttonSize="small" buttonText="Delete" />
      </div>
    </div>
    <p class="comment-text">Comment body</p>
  </div>

  <!-- No comments yet -->
  <!-- <p id="noComments">No comments yet. Be the first!</p> -->

  <div id="add-comment" class="comment border-glow">
    <div class="comment-top-container">
      <div class="comment-top-left">
        <i class="fa-regular fa-user"></i>
        <p class="comment-username">Username or Guest</p>
      </div>
    </div>
    <textarea
      type="comment"
      name="comment"
      id="add-comment-text"
      placeholder="Add a comment..."
    ></textarea>
    <app-button buttonSize="small" buttonText="Comment" />
  </div>
</section>
