<div id="details-page-wrapper">
  <app-details-card
    [post]="post"
    [isLoading]="isLoading"
    [likesCount]="likesCount$ | async"
    (delete)="deletePost()"
    (like)="likePost()"
  />

  <section id="comments-container">
    <app-add-comment
      [username]="userInfo?.username"
      (add)="addComment($event)"
    />

    <div
      id="no-comments-wrapper"
      class="border-glow"
      *ngIf="post.comments && post.comments.length < 1"
    >
      <p id="noComments">No comments yet. Be the first!</p>
    </div>

    <app-comment *ngFor="let comment of post.comments" [comment]="comment" />
  </section>
</div>
