$font-color: white;
$dark-bg: rgba(18, 18, 18, 1);
$shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.5);

#not-found-page-wrapper {
  padding-top: 5em;
}

#not-found-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  align-items: center;
  justify-items: center;
  background-color: $dark-bg;
  color: $font-color;

  #not-found {
    width: 35em;
    height: 30em;
  }

  #home-button {
    height: 2.5em;
    width: auto;
    margin-bottom: 1em;
    border-radius: 50%;
    box-shadow: $shadow;

    &:hover {
      cursor: pointer;
      filter: brightness(0.8);
    }
  }
}

@media screen and (max-width: 1000px) {
  #not-found-container {
    width: 70%;

    #not-found {
      width: 30em;
      height: 25em;
    }
  }
}

@media screen and (max-width: 800px) {
  #not-found-container {
    width: 80%;

    #not-found {
      width: 24em;
      height: 20em;
    }

    #home-button {
      height: 2em;
    }
  }
}

@media screen and (max-width: 500px) {
  #not-found-container {
    #not-found {
      width: 20em;
      height: 16em;
    }
  }
}
