<nav>
  <div id="logo-container">
    <a routerLink="/home"><i class="fa-brands fa-hive"></i></a>
    <a id="logo" routerLink="/home">Dev<span>Buzz</span></a>
  </div>
  <div id="user-menu">
    <app-button
      buttonText="Create"
      buttonSize="large"
      buttonIcon="create"
      routerLink="/post/create"
    />
    <a id="feedLink" routerLink="/feed">Feed</a>
    <p id="username" [class.menu-opened]="isMenuOpen" (click)="toggleMenu()">
      {{ userInfo?.username || "Guest" }}
    </p>
    <i
      class="fa-solid"
      [class.fa-user-astronaut]="isLogged"
      [class.fa-user-secret]="!isLogged"
      id="user-icon"
      [class.menu-opened]="isMenuOpen"
      (click)="toggleMenu()"
    ></i>
  </div>
</nav>
<div id="menu-items" (click)="hideMenu()" *ngIf="isMenuOpen">
  <a *ngIf="!isLogged" routerLink="/login">
    <i class="fa-solid fa-right-to-bracket"></i>
    Login
  </a>
  <a *ngIf="!isLogged" routerLink="/register">
    <i class="fa-solid fa-user-plus"></i>
    Register
  </a>
  <a *ngIf="isLogged">
    <i class="fa-solid fa-user"></i>
    Profile
  </a>
  <a *ngIf="isLogged" (click)="logout()">
    <i class="fa-solid fa-right-from-bracket"></i>
    Logout
  </a>
</div>
