$font-color: white;
$dark-bg: rgba(18, 18, 18, 1);
$light-bg: rgba(30, 30, 30, 1);
$border-radius: 5px;
$shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.5);

#details-container {
  position: relative;
  display: grid;
  grid-template-rows: 0.1fr 0.5fr 1fr;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  margin: auto;
  align-items: center;
  justify-items: center;
  background-color: $dark-bg;
  color: $font-color;
}

#owner-btns {
  display: flex;
  gap: 0.5em;
  margin: 0.5em;
}

#top-buttons-container {
  position: relative;
  grid-column: span 2;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#details-info {
  display: grid;
  padding-left: 2.5em;
  grid-template-rows: 0.5fr 1fr 0.5fr;
  width: 40vw;

  #details-info-top {
    color: gray;
    align-self: end;
    font-style: italic;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;

    #post-time {
      font-size: 12px;
    }
  }

  #details-title {
    font-size: 32px;
    letter-spacing: 1px;
    text-shadow: $shadow;
  }

  #details-info-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    #owner-name {
      text-shadow: $shadow;
    }

    #like-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 10vh;
      width: 10vh;

      #likes-count {
        text-shadow: $shadow;
      }
    }
  }
}

#details-img {
  margin-right: 1em;
  width: 35vw;
  height: 40vh;
  border-radius: 30px;
  object-fit: cover;
  box-shadow: $shadow;
}

#details-description {
  margin: auto;
  width: 70%;
  grid-column: span 2;
  line-height: 1.4;
  letter-spacing: 0.15px;
  overflow-wrap: break-word;
  white-space: pre-line;
  padding: 1em 0 2em 0;
  text-shadow: $shadow;

  &::first-letter {
    initial-letter: 2;
    padding-right: 0.2em;
    font-weight: bold;
  }
}

app-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
