<div id="details-container" class="border-glow">
  <div id="top-buttons-container">
    <div id="owner-btns">
      <app-delete-btn (click)="onDelete()" *ngIf="isOwner" />
      <app-edit-btn
        [routerLink]="['/posts', post._id, 'edit']"
        *ngIf="isOwner"
      />
    </div>

    <app-close-btn />
  </div>

  <app-loader *ngIf="isLoading" />

  <div class="details-info" *ngIf="!isLoading">
    <div class="details-info-top">
      <p class="details-category">{{ post.category }}</p>
      <p class="post-time">{{ post.createdAt | date }}</p>
    </div>

    <h1 class="details-title">{{ post.title }}</h1>

    <div class="details-info-bottom">
      <div class="details-owner">
        <p class="owner-name">{{ post.owner.username }}</p>
      </div>
      <div class="like-container">
        <p>Likes: {{ likesCount }}</p>
        <app-like-btn
          (like)="onLike($event)"
          [isLiked]="isLiked"
          *ngIf="!isOwner"
        />
      </div>
    </div>
  </div>

  <img
    [src]="post.image"
    onerror="this.src='assets/images/image-missing.jpg'"
    alt="Post Image"
    class="details-img"
  />

  <p class="details-description">{{ post.description }}</p>
</div>
