$shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.5);

#like-button {
  height: 2.5em;
  width: auto;
  margin: 0.5em;
  border-radius: 50%;
  box-shadow: $shadow;
}

.enabled {
  &:hover {
    cursor: pointer;
    filter: brightness(0.8);
  }
}

.disabled {
  filter: brightness(0.6);
  cursor: not-allowed;
}
