<section id="filter-bar">
  <select id="dropdown" name="categories" (change)="onCategoryChange($event)">
    <option value="all">All</option>
    <option value="artificial-intelligence">Artificial Intelligence</option>
    <option value="blockchain">Blockchain</option>
    <option value="development">Development</option>
    <option value="other">Other</option>
  </select>

  <div id="search-container">
    <input
      type="search"
      name="search"
      id="searchfield"
      placeholder="Search..."
    />
    <i class="fa-solid fa-magnifying-glass"></i>
  </div>
</section>
