#delete-button {
  height: 2.5em;
  width: auto;

  &:hover {
    cursor: pointer;
    filter: brightness(0.8);
  }
}

@media screen and (max-width: 800px) {
  #delete-button {
    height: 2em;
  }
}
