<section id="hottest" class="section">
  <h3>🔥Hottest</h3>

  <div id="hottestPostsContainer">
    <div class="post">
      <img
        src="./assets/images/ai.jpg"
        onerror="this.src='./images/image-missing.jpg'"
        alt="Post Image"
      />
      <div class="post-content">
        <div class="post-title">Post Title</div>
        <app-button buttonText="Read More" buttonSize="small" />
      </div>
    </div>

    <div class="post">
      <img
        src="./assets/images/ai.jpg"
        onerror="this.src='./images/image-missing.jpg'"
        alt="Post Image"
      />
      <div class="post-content">
        <div class="post-title">Post TitlePost TitlePost TitlePost Title</div>
        <app-button buttonText="Read More" buttonSize="small" />
      </div>
    </div>

    <div class="post">
      <img
        src="./assets/images/ai.jpg"
        onerror="this.src='./images/image-missing.jpg'"
        alt="Post Image"
      />
      <div class="post-content">
        <div class="post-title">Post Title</div>
        <app-button buttonText="Read More" buttonSize="small" />
      </div>
    </div>
  </div>
</section>

<section id="latest" class="section">
  <h3>🚀Latest</h3>

  <div id="latestPostsContainer">
    <div class="post">
      <img
        src="./assets/images/ai.jpg"
        onerror="this.src='./images/image-missing.jpg'"
        alt="Post Image"
      />
      <div class="post-content">
        <div class="post-title">Post Title</div>
        <app-button buttonText="Read More" buttonSize="small" />
      </div>
    </div>

    <div class="post">
      <img
        src="./assets/images/ai.jpg"
        onerror="this.src='./images/image-missing.jpg'"
        alt="Post Image"
      />
      <div class="post-content">
        <div class="post-title">Post TitlePost TitlePost TitlePost Title</div>
        <app-button buttonText="Read More" buttonSize="small" />
      </div>
    </div>

    <div class="post">
      <img
        src="./assets/images/ai.jpg"
        onerror="this.src='./images/image-missing.jpg'"
        alt="Post Image"
      />
      <div class="post-content">
        <div class="post-title">Post Title</div>
        <app-button buttonText="Read More" buttonSize="small" />
      </div>
    </div>
    <div class="post">
      <img
        src="./assets/images/ai.jpg"
        onerror="this.src='./images/image-missing.jpg'"
        alt="Post Image"
      />
      <div class="post-content">
        <div class="post-title">Post Title</div>
        <app-button buttonText="Read More" buttonSize="small" />
      </div>
    </div>

    <div class="post">
      <img
        src="./assets/images/ai.jpg"
        onerror="this.src='./images/image-missing.jpg'"
        alt="Post Image"
      />
      <div class="post-content">
        <div class="post-title">Post TitlePost TitlePost TitlePost Title</div>
        <app-button buttonText="Read More" buttonSize="small" />
      </div>
    </div>

    <div class="post">
      <img
        src="./assets/images/ai.jpg"
        onerror="this.src='./images/image-missing.jpg'"
        alt="Post Image"
      />
      <div class="post-content">
        <div class="post-title">Post Title</div>
        <app-button buttonText="Read More" buttonSize="small" />
      </div>
    </div>
  </div>
</section>
