$shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.5);

#pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1em auto;
  gap: 2em;

  .arrow {
    background-size: cover;
    height: 2.5em;
    width: auto;
    border-radius: 50%;
    box-shadow: $shadow;
  }
}

.enabled {
  &:hover {
    filter: brightness(0.8);
    cursor: pointer;
  }
}

.disabled {
  filter: brightness(0.5);
  cursor: not-allowed;
}
