#pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1em auto;
  gap: 2em;

  .arrow {
    background-size: cover;
    width: 2.5em;
    height: 2.5em;
  }
}

.enabled {
  &:hover {
    filter: brightness(0.8);
    cursor: pointer;
  }
}

.disabled {
  filter: brightness(0.5);
  cursor: not-allowed;
}
