<div class="home-msg">
  <h1>
    Buzzworthy tech gossip, <br />
    unbiased from the DevHive.
  </h1>
  <p>
    Where bugs turn into features! <br />
    Join us and share the sweet nectar of the latest innovations.<br />
    🐝🍯 #DevHiveInsights
  </p>
</div>
<div class="bentogrid">
  <div data-bento="2x2">
    <h3>Explore</h3>
    <article class="category">
      <img src="./assets/images/development.jpg" alt="" />
      <section>
        <h4>Development</h4>
        <p>
          Code Chronicles: Unleashing dev wonders, from tech tricks to coding
          treats!
        </p>
        <app-button buttonText="Read More" buttonSize="small" />
      </section>
    </article>
    <article class="category">
      <img src="./assets/images/ai.jpg" alt="" />
      <section>
        <h4>Artificial Intelligence</h4>
        <p>
          Dive into AI wonders: from deep learning mysteries to machine-made art
          magic!
        </p>
        <app-button buttonText="Read More" buttonSize="small" />
      </section>
    </article>
    <article class="category">
      <img src="./assets/images/blockchain.jpg" alt="" />
      <section>
        <h4>Blockchain</h4>
        <p>
          Blockchain Bounty: Unraveling the tech behind the decentralized
          revolution!
        </p>
        <app-button buttonText="Read More" buttonSize="small" />
      </section>
    </article>
  </div>
  <div data-bento="1x1">
    <h3>Top Contributors</h3>
    <section id="contributors">
      <p>🥇1st place - Alex Techton</p>
      <p>🥈2nd place - Marie Curie</p>
      <p>🥉3rd place - John Cena</p>
    </section>
  </div>
</div>
