<div id="details-page-wrapper">
  <app-modal-popup *ngIf="showPopup" (confirmed)="onConfirmedDelete($event)" />
  <app-details-card
    [post]="post"
    [isOwner]="isOwner"
    [isLogged]="!!loggedUser"
    [isLoading]="isLoading"
    [likesCount]="likesCount$ | async"
    [isLiked]="isLiked$ | async"
    [isLikeButtonDisabled]="loggedUser ? false : true"
    (delete)="onDelete(undefined)"
    (like)="onPostLikeToggle($event)"
  />

  <section id="comments-container">
    <app-add-comment
      [username]="loggedUser?.username"
      [isLogged]="!!loggedUser"
      (add)="onCommentAdd($event)"
    />

    <div
      id="no-comments-wrapper"
      class="border-glow"
      *ngIf="post.comments && post.comments.length < 1"
    >
      <p id="no-comments">No comments yet. Be the first!</p>
    </div>

    <app-comment
      *ngFor="let comment of post.comments"
      [isOwner]="comment.owner._id == loggedUser?._id"
      [comment]="comment"
      (delete)="onDelete(comment._id)"
    />
  </section>
</div>
