<div id="details-page-wrapper">
  <app-details-card
    [post]="post"
    [isLoading]="isLoading"
    [likesCount]="likesCount$ | async"
    (delete)="onPostDelete()"
    (like)="onPostLike()"
    (close)="onPostClose()"
  />

  <section id="comments-container">
    <app-add-comment
      [username]="userInfo?.username"
      (add)="onCommentAdd($event)"
    />

    <div
      id="no-comments-wrapper"
      class="border-glow"
      *ngIf="post.comments && post.comments.length < 1"
    >
      <p id="noComments">No comments yet. Be the first!</p>
    </div>

    <app-comment
      *ngFor="let comment of post.comments"
      [comment]="comment"
      (delete)="onCommentDelete($event)"
    />
  </section>
</div>
