$font-color: white;
$dark-bg: rgba(18, 18, 18, 1);

#details-page-wrapper {
  padding-top: 5em;
}

#comments-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  padding-top: 1em;
  gap: 1em;
  color: $font-color;
}

#no-comments {
  margin: auto;
  font-size: 20px;
}

#no-comments-wrapper {
  width: 30%;
  margin: auto;
  padding: 1em;
  background-color: $dark-bg;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  #no-comments-wrapper {
    width: 40%;
  }

  #no-comments {
    font-size: 18px;
  }
}

@media screen and (max-width: 800px) {
  #no-comments-wrapper {
    width: 50%;
  }

  #no-comments {
    font-size: 16px;
  }
}

@media screen and (max-width: 500px) {
  #no-comments-wrapper {
    width: 60%;
  }

  #no-comments {
    font-size: 16px;
  }
}
