<div id="home-page-wrapper">
  <div class="home-msg">
    <h1>
      <span>Buzzworthy</span> tech gossip, <br />
      unbiased from the <span>Hive</span>.
    </h1>
    <p>
      Where bugs turn into features! <br />
      Join us and share the sweet nectar of the latest innovations.<br />
      🐝🍯 #DevBuzzHive
    </p>
  </div>
  <div id="grid-wrapper">
    <div class="border-glow" id="explore-wrapper">
      <h3>🔍Explore</h3>

      <article class="category border-glow">
        <img src="./assets/images/development.jpg" alt="" />
        <section>
          <h4>Development</h4>
          <p>
            Code Chronicles: Unleashing dev wonders, from tech tricks to coding
            treats!
          </p>
          <app-button
            buttonText="Read More"
            buttonSize="small"
            buttonIcon="more"
            (click)="navigateToDevelopment()"
          />
        </section>
      </article>

      <article class="category border-glow">
        <img src="./assets/images/ai.jpg" alt="" />
        <section>
          <h4>Artificial Intelligence</h4>
          <p>
            Dive into AI wonders: from deep learning mysteries to machine-made
            art magic!
          </p>
          <app-button
            buttonText="Read More"
            buttonSize="small"
            buttonIcon="more"
            (click)="navigateToArtificialIntelligence()"
          />
        </section>
      </article>

      <article class="category border-glow">
        <img src="./assets/images/blockchain.jpg" alt="" />
        <section>
          <h4>Blockchain</h4>
          <p>
            Blockchain Bounty: Unraveling the tech behind the decentralized
            revolution!
          </p>
          <app-button
            buttonText="Read More"
            buttonSize="small"
            buttonIcon="more"
            (click)="navigateToBlockchain()"
          />
        </section>
      </article>
    </div>

    <div class="border-glow" id="contributors-wrapper">
      <h3>🏆Top Contributors</h3>

      <app-loader *ngIf="isLoading" />

      <div id="no-contributors" *ngIf="!isLoading && users.length < 1">
        Sorry, no contributions yet. Quick, be the first!
      </div>

      <section id="contributors" *ngIf="!isLoading">
        <p
          class="border-glow"
          *ngIf="users && users.length > 0"
          [routerLink]="['/user', users[0]._id]"
        >
          🥇1st place - {{ users[0].username }}
        </p>
        <p
          class="border-glow"
          *ngIf="users && users.length > 1"
          [routerLink]="['/user', users[1]._id]"
        >
          🥈2nd place - {{ users[1].username }}
        </p>
        <p
          class="border-glow"
          *ngIf="users && users.length > 2"
          [routerLink]="['/user', users[2]._id]"
        >
          🥉3rd place - {{ users[2].username }}
        </p>
      </section>
    </div>
  </div>
</div>
